.close {
    display: none;
}

.modal-sm {
    position: fixed;
    left: 1%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0);
}

.modal {
    background-color: rgba(0, 0, 0, 0);
}

.modal-backdrop {
    display: none;
}

.modal-header {
    background-color: rgba(0, 0, 0, 0.88);
}

.modal-content {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.77);
    border: 1px solid whitesmoke;
}

#reset-button,
#hide-button {
    border-left-width: 10px;
}
